<html>
<head>
<title>Bun Alert</title>
</head>
<body>
  <h1>Bun Alert</h1>
  <p>Welcome to the Bun Alert subscriber page! If you haven't already been added, add your phone number below in the format: +18885554444</p>
  <form action="subscribe" method="POST">
    <input type="text" name="subscriber_number" />
    <input type="submit" value="Subscribe" />
  </form>
</body>
</html>