<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bun Alert</title>

  <!-- Boostrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Additional stylesheets. -->
  <link href="static/styles.css" rel="stylesheet" />

  <!-- Make sure we're set for mobile rendering. -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container-fluid">
    <img src="static/bunalertlogo.png" alt="Bun Alert" />
    <p>Welcome to the Bun Alert subscriber page! If you haven't already been added, add your phone number below in the format: +18885554444</p>
    <form action="subscribe" method="POST">
      <p><input type="text" name="subscriber_number" /></p>
      <p><input type="submit" value="Subscribe" /></p>
    </form>
    <p>Note: You can unsubscribe by responding to any alert with "STOP", or <a href="mailto:jgreenemi@gmail.com">contact me directly</a> to have your number removed. I may implement a self-service unsubscribe feature in the future.</p>
  </div>

  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="https://github.com/jgreenemi/BunAlert">View this project on Github.</a></li>
      </ul>
    </div>
  </div>
</body>
</html>